.article__title {
    font-family: "Inter-Black", sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 320px) {
    .article__title {
      font-size: 32px;
      line-height: 1.09;
      padding: 0px 40px 0px 0px;
      box-sizing:content-box;
    }
  }