.places {
    position: relative;
    display: grid;
    gap: 48px 40px;
    grid-template-columns: 46.74% 1fr;
    /* grid-template-columns: minmax(calc(46.74% - 0px), 460px) minmax(calc(53.25% - 0px), 484px); */
    grid-template-areas:
      "title links"
      "img description";
  }
  
  @media (max-width: 1024px) {
    .places {
      position: relative;
      display: grid;
      gap: 48px 32px;
      grid-template-columns: 47.41% 1fr;
      /* grid-template-columns: minmax(calc(47.41% - 0px), 440px) minmax(calc(52.58% - 0px), 456px); */
      grid-template-areas:
        "title links"
        "img description";
    }
  }
  @media (max-width: 900px) {
    .places {
      position: relative;
      display: grid;
      gap: 48px 28px;
      grid-template-columns: 47.22% 1fr;
      /* grid-template-columns: minmax(calc(47.22% - 0px), 340px) minmax(calc(52.77% - 0px), 352px); */
      grid-template-areas:
        "title links"
        "img description";
    }
  }
  @media (max-width: 610px) {
    .places {
      display: grid;
      row-gap: 32px;
      grid-template-columns: 100%;
      grid-template-areas:
        "title"
        "links"
        "img"
        "description";
    }
  }
  .places:not(:last-child) {
    margin-bottom: 75px;
  }
  @media (max-width: 900px) {
    .places:not(:last-child) {
      margin-bottom: 70px;
    }
  }
  @media (max-width: 610px) {
    .places:not(:last-child) {
      margin-bottom: 55px;
    }
  }