.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 108px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100vw;
    padding: 0px 48px;
    box-sizing: border-box;
  }
  @media(max-width: 1024px) and (min-width: 816px) {
    .header__block {
        width: 100vw;
      }
}
@media(min-width: 769px) and (max-width: 815px){
    .header__block {
        width: 100vw;
        max-width: calc(720px + 2*24px);
        padding: 0px 24px;
        margin: 0px auto;
      }
}
@media(max-width: 768px) and (min-width: 336px){
  .header__block {
      width: 100vw;
      min-width: calc(288px + 2*24px);
      padding: 0px 24px;
    }
}
@media(min-width: 320px) and (max-width:335px){
    .header__block {
        width: 100vw;
        min-width: calc(288px + 2*16px);
        padding: 0px 16px;
      }
}
@media(max-width: 320px) {
  .header__block {
      min-width: 320px;
      padding: 0px 16px;
      min-height: 84px;
    }
}